/* add your CSS here */
.animal_card {
	font-family: serif;
	border: solid lightgrey;
	border-width: medium;
	border-radius: 10px;
	width: 300px;
	padding: 0px 10px 10px 10px;
	box-shadow: 11px 15px 12px 0px;
    background-color: #ffeb3b;
}

.animal_name {
    font-size: 30px;
    color:black;
}

.animal_image {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.animal_info {
	border: solid lightgrey;
	padding: 0px 10px 0px 10px;
}

.interesting {
	font-style: italic;
}

.info_list{
  padding-left: 0;
  list-style: none;
}

.info_heading {
	font-weight: bold;
}

.description2 {
	border: solid lightgrey;
	padding: 0px 10px 0px 10px;
}
